/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px; /* Largeur maximale de la fenêtre */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.label-container {
    width: 40%; /* Largeur des containers des labels */
}

.input-container {
    width: 60%; /* Largeur des containers des boutons, des inputs et des listes */
}

.btn-group,
.btn-group-seuil {
    display: flex;
}

.btn {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
}

.btn-calculate {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn-calculate:hover {
    background-color: #0056b3;
}
